.category-filter-container {
  margin-bottom: 20px;
  padding: 15px;
}

@media (min-width: 768px) {
  .category-crud-bar-container {
    display: flex;
    margin-bottom: 40px;
  }

  .category-filter-container {
    flex: 1;
    margin-left: 20px;
    margin-bottom: 0;
  }
}
