.productPriceContainer {
  margin: 25px 0;
  display: flex;
}

.productPriceContainer span {
  font-size: 18px;
  color: #9e9e9e;
}

.productPriceContainer h3 {
  font-size: 32px;
  color: #4d41c0;
  margin-left: 10px;
}
