.productPriceContainer {
    margin: 25px 0;
    display: flex;
}

.productPriceContainer span{
    font-size: 16px;
    color: var(--gray-400);
}

.productPriceContainer h3{
    font-size: 24px;
    margin-left: 10px;
    color: var(--blue);
}

